<template name="songSubmit">
  <form class="main" enctype="multipart/form-data">

    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" type="text" value="" placeholder="Name your song"/>
        </div>
    </div>

	<div class="control-group">
		<label class="control-label" for="artist">Album</label>
		<div class="controls">
		    <input name="album" type="text" value="" placeholder="Name song album"/>
		</div>
	    </div>

    <div class="control-group">
        <label class="control-label" for="artist">Artist</label>
        <div class="controls">
            <input name="artist" type="text" value="" placeholder="Name song artist"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="language">Language</label>
        <div class="controls">
            <input name="language" type="text" value="" placeholder="Language of the song"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="year">Year</label>
        <div class="controls">
            <input name="year" type="text" value="" placeholder="Year of published"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="genre">Genre</label>
        <div class="controls">
            <input name="genre" type="text" value="" placeholder="Genre of the song"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <textarea name="description" type="text" value="" placeholder="Description of the song"/>
        </div>
    </div>
    
	<div class="control-group">
        <label class="control-label" for="genre">Song</label>
        <div class="controls">
            <input name="upload" type="file" placeholder="Upload song"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>
